<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Bookers", "/" , class:"navbar-brand" %>
      
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
      
      <nav>
        <div class="collapse navbar-collapse show" id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user), class:'nav-link text-light' do %>
               <span class="fas fa-home"></span>Home
              <% end %>
            </li>
              <li>
                <%= link_to users_path, class:"nav-link text-light" do %>
                <span class="fas fa-users" aria-hidden="true"></span>Users
                <% end %>
              </li>
              <li>
                <%= link_to books_path, class:"nav-link text-light" do %>
                <span class="fas fa-book-open" aria-hidden="true"></span>Books
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light" do %>
                <span class="fas fa-sign-out-alt" aria-hidden="true"></span>Log out
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path, class:"nav-link text-light" do %>
                <span class="fas fa-home" aria-hidden="true"></span>Home
                <% end %>
              </li>
              <li\>
                <%= link_to about_path, class:"nav-link text-light" do %>
                <span class="fas fa-link" aria-hidden="true"></span>About
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                <span class="fas fa-user-plus" aria-hidden="true"></span>Sign up
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                <span class="fas fa-sign-in-alt" aria-hidden="true"></span>Log in
                <% end %>
              </li>
            <% end %>
          </ul>
         </div>
        </nav>
      </div>
    </header>
    
  <body>
    
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>
      
  </body>
    
  <footer>
    <div class='container mt-5'>
      <div class='row'>
        <div class='mx-auto'>
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</html>
